#root {
  min-width: 100%;
  min-height: 100%;

  height: 100%;

  background-color: lightgray;
  background-size: cover;
}

.Header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 0em;
  margin-bottom: 32px;
}

.card {
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.body {
  min-height: 100vh;

  background-color: lightgray;
  background-size: cover;
}

/* .SearchCard {
  margin-right: 0em;
}

.InfoCard {
  margin-left: 0.5em;
} */
.Location {
  background-color: black;
  color: white;
  padding: 1em;

  border-radius: 5px;
  text-align: center;
}

.AQI {
  background-color: lightgrey;
  padding: 1em;

  border-radius: 5px;
  text-align: center;
}

.Data {
  /* margin-bottom: 0em; */
  padding: 1em;
}

.DataList {
  padding: 1em;
  padding-bottom: 0.5em;
  margin: 0.5em;

  min-width: 100%;
  max-width: 100%;

  align-self: center;
  border-radius: 5px;
  background-color: lightgrey;
}

.DataRow {
  max-width: auto;
}

.DataEntry {
  background-color: white;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
}

.box {
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
}

.datatext,
p {
  margin-bottom: 0rem;
  margin-top: 0em;
}

.subHeader {
  background-color: black;
  color: white;
  padding: 0.5em;

  border-radius: 5px;
  text-align: center;
}
